api/api-pastis/pastis-commons/src/main/resources/xsd/relaxng2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- RELAX NG XML syntax specified in compact syntax. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rng="http://relaxng.org/ns/structure/1.0"
           elementFormDefault="qualified" targetNamespace="http://relaxng.org/ns/structure/1.0">
    <xs:element name="pattern" abstract="true"/>
    <xs:element name="element" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="rng:nameClass"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="rng:common"/>
                    <xs:element ref="rng:pattern"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="name" type="xs:QName"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="attribute" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="rng:nameClass"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="rng:common"/>
                    <xs:element ref="rng:pattern"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="name" type="xs:QName"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="interleave" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:pattern"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="optional" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:pattern"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="zeroOrMore" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:pattern"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="oneOrMore" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:pattern"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="list" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:pattern"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mixed" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:pattern"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ref" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:group ref="rng:common"/>
            <xs:attributeGroup ref="rng:nameNCName"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parentRef" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:group ref="rng:common"/>
            <xs:attributeGroup ref="rng:nameNCName"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="empty" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:group ref="rng:common"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="notAllowed" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:group ref="rng:common"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="text" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:group ref="rng:common"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="data" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="rng:param"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="rng:common"/>
                    <xs:group ref="rng:exceptPattern"/>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="rng:type"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="value" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="rng:commonAttributes"/>
                    <xs:attribute name="type" type="xs:NCName"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="externalRef" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:group ref="rng:common"/>
            <xs:attributeGroup ref="rng:href"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="grammar" substitutionGroup="rng:pattern">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:group ref="rng:grammarContent"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="param">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attributeGroup ref="rng:commonAttributes"/>
                    <xs:attributeGroup ref="rng:nameNCName"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:group name="exceptPattern">
        <xs:sequence>
            <xs:element name="except">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:group ref="rng:common"/>
                        <xs:element ref="rng:pattern"/>
                    </xs:choice>
                    <xs:attributeGroup ref="rng:common"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="grammarContent">
        <xs:choice>
            <xs:element ref="rng:definition"/>
            <xs:element name="div">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:group ref="rng:common"/>
                        <xs:group ref="rng:grammarContent"/>
                    </xs:choice>
                    <xs:attributeGroup ref="rng:common"/>
                </xs:complexType>
            </xs:element>
            <xs:element ref="rng:include"/>
        </xs:choice>
    </xs:group>
    <xs:element name="include">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:group ref="rng:includeContent"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:href"/>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="includeContent">
        <xs:choice>
            <xs:element ref="rng:definition"/>
            <xs:element name="div">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:group ref="rng:common"/>
                        <xs:group ref="rng:includeContent"/>
                    </xs:choice>
                    <xs:attributeGroup ref="rng:common"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:element name="definition" abstract="true"/>
    <xs:element name="start" substitutionGroup="rng:definition">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:pattern"/>
            </xs:choice>
            <xs:attribute name="combine">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="choice"/>
                        <xs:enumeration value="interleave"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="define" substitutionGroup="rng:definition">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:pattern"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:nameNCName"/>
            <xs:attribute name="combine">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="choice"/>
                        <xs:enumeration value="interleave"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="combine">
        <xs:attribute name="combine" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="choice"/>
                    <xs:enumeration value="interleave"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="nameClass" abstract="true"/>
    <xs:element name="name" substitutionGroup="rng:nameClass">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:QName">
                    <xs:attributeGroup ref="rng:commonAttributes"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="anyName" substitutionGroup="rng:nameClass">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:group ref="rng:exceptNameClass"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nsName" substitutionGroup="rng:nameClass">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:group ref="rng:exceptNameClass"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="choice" substitutionGroup="rng:nameClass">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="rng:common"/>
                <xs:element ref="rng:nameClass"/>
            </xs:choice>
            <xs:attributeGroup ref="rng:common"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="exceptNameClass">
        <xs:sequence>
            <xs:element name="except">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:group ref="rng:common"/>
                        <xs:element ref="rng:nameClass"/>
                    </xs:choice>
                    <xs:attributeGroup ref="rng:common"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="nameQName">
        <xs:attribute name="name" use="required" type="xs:QName"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="nameNCName">
        <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="href">
        <xs:attribute name="href" use="required" type="xs:anyURI"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="type">
        <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:attributeGroup>
    <xs:group name="common">
        <xs:sequence>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="rng:foreignElement"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="common">
        <xs:attributeGroup ref="rng:commonAttributes"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="commonAttributes">
        <xs:attribute name="ns" type="xs:string"/>
        <xs:attribute name="datatypeLibrary" type="xs:anyURI"/>
        <xs:attributeGroup ref="rng:foreignAttribute"/>
    </xs:attributeGroup>
    <xs:group name="foreignElement">
        <xs:choice>
            <xs:any namespace="##other" processContents="skip"/>
            <xs:any namespace="##local" processContents="skip"/>
        </xs:choice>
    </xs:group>
    <xs:attributeGroup name="foreignAttribute">
        <xs:anyAttribute namespace="##other" processContents="skip"/>
    </xs:attributeGroup>
    <xs:group name="anyElement">
        <xs:sequence>
            <xs:any processContents="skip"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="anyAttribute">
        <xs:anyAttribute processContents="skip"/>
    </xs:attributeGroup>
</xs:schema>
