commons/commons-vitam/src/test/resources/profile.rng

<?xml version='1.0' encoding='utf-8' standalone='no'?>
<rng:grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns:seda="fr:gouv:culture:archivesdefrance:seda:v2.1" xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="fr:gouv:culture:archivesdefrance:seda:v2.1"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="fr:gouv:culture:archivesdefrance:seda:v2.1">
	<rng:start>
		<rng:element name="ArchiveTransfer">
			<rng:zeroOrMore>
				<rng:attribute>
					<rng:anyName>
						<rng:except>
							<rng:nsName/>
							<rng:nsName ns=""/>
						</rng:except>
					</rng:anyName>
				</rng:attribute>
			</rng:zeroOrMore>
			<rng:optional>
				<rng:attribute name="id">
					<rng:data type="ID"/>
				</rng:attribute>
			</rng:optional>
			<rng:element name="Date">
				<rng:data type="dateTime"/>
			</rng:element>
			<rng:element name="MessageIdentifier">
				<rng:optional>
					<rng:attribute name="schemeDataURI">
						<rng:data type="anyURI"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeID">
						<rng:data type="token"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeAgencyName">
						<rng:data type="string"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeAgencyID">
						<rng:data type="token"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeName">
						<rng:data type="string"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeVersionID">
						<rng:data type="token"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:attribute name="schemeURI">
						<rng:data type="anyURI"/>
					</rng:attribute>
				</rng:optional>
				<rng:data type="token"/>
			</rng:element>
			<rng:optional>
				<rng:element name="ArchivalAgreement">
					<rng:optional>
						<rng:attribute name="schemeDataURI">
							<rng:data type="anyURI"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeID">
							<rng:data type="token"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeAgencyName">
							<rng:data type="string"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeAgencyID">
							<rng:data type="token"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeName">
							<rng:data type="string"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeVersionID">
							<rng:data type="token"/>
						</rng:attribute>
					</rng:optional>
					<rng:optional>
						<rng:attribute name="schemeURI">
							<rng:data type="anyURI"/>
						</rng:attribute>
					</rng:optional>
					<rng:data type="string"/>
				</rng:element>
			</rng:optional>
			<rng:element name="CodeListVersions">
				<rng:optional>
					<rng:attribute name="id">
						<rng:data type="ID"/>
					</rng:attribute>
				</rng:optional>
				<rng:optional>
					<rng:element name="ReplyCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">ReplyCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="MessageDigestAlgorithmCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">MessageDigestAlgorithmCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="MimeTypeCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">MimeTypeCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="EncodingCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">EncodingCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="FileFormatCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">FileFormatCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="CompressionAlgorithmCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">CompressionAlgorithmCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="DataObjectVersionCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">DataObjectVersionCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="StorageRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">StorageRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="AppraisalRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">AppraisalRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="AccessRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">AccessRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="DisseminationRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">DisseminationRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="ReuseRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">ReuseRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="ClassificationRuleCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">ClassificationRuleCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="AuthorizationReasonCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">AuthorizationReasonCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
				<rng:optional>
					<rng:element name="RelationshipCodeListVersion">
						<rng:optional>
							<rng:attribute name="listName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listSchemeURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listAgencyName">
								<rng:data type="string"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listURI">
								<rng:data type="anyURI"/>
							</rng:attribute>
						</rng:optional>
						<rng:optional>
							<rng:attribute name="listVersionID">
								<rng:data type="token"/>
							</rng:attribute>
						</rng:optional>
						<rng:value type="token">RelationshipCodeListVersion0</rng:value>
					</rng:element>
				</rng:optional>
			</rng:element>
			<rng:element name="DataObjectPackage">
				<rng:optional>
					<rng:attribute name="id">
						<rng:data type="ID"/>
					</rng:attribute>
				</rng:optional>
				<rng:group>
					<rng:zeroOrMore>
						<rng:element name="BinaryDataObject">
							<rng:attribute name="id" seda:profid="id783588">
								<rng:data type="ID"/>
							</rng:attribute>
							<rng:choice>
								<rng:element name="Uri">
									<rng:data type="anyURI"/>
								</rng:element>
							</rng:choice>
							<rng:element name="MessageDigest">
								<rng:choice>
									<rng:data type="base64Binary"/>
									<rng:data type="hexBinary"/>
								</rng:choice>
								<rng:attribute name="algorithm">
									<rng:value type="token">SHA-512</rng:value>
								</rng:attribute>
							</rng:element>
							<rng:element name="Size">
								<rng:data type="positiveInteger"/>
							</rng:element>
							<rng:element name="FormatIdentification">
								<rng:text/>
							</rng:element>
							<rng:element name="FileInfo">
								<rng:element name="Filename">
									<rng:data type="string"/>
								</rng:element>
							</rng:element>
						</rng:element>
					</rng:zeroOrMore>
				</rng:group>
				<rng:element name="DescriptiveMetadata">
					<rng:zeroOrMore>
						<rng:element name="ArchiveUnit">
							<rng:attribute name="id" seda:profid="id757941">
								<rng:data type="ID"/>
							</rng:attribute>
							<rng:choice>
								<rng:group>
									<rng:element name="Management">
										<rng:element name="UpdateOperation">
											<rng:choice>
												<rng:group>
													<rng:element name="ArchiveUnitIdentifierKey">
														<rng:element name="MetadataName">
															<rng:value type="string">OriginatingSystemId</rng:value>
														</rng:element>
														<rng:element name="MetadataValue">
															<rng:data type="string"/>
														</rng:element>
														</rng:element>
												</rng:group>
												<rng:group>
														<rng:element name="SystemId">
															<rng:data type="string"/>
														</rng:element>
												</rng:group>
											</rng:choice>
										</rng:element>
									</rng:element>
									<rng:element name="Content">
										<rng:element name="DescriptionLevel">
											<rng:value type="token">File</rng:value>
										</rng:element>
										<rng:element name="Title">
											<rng:value type="string">Elements de preuve</rng:value>
										</rng:element>
									</rng:element>
									<rng:zeroOrMore>
										<rng:element name="ArchiveUnit">
											<rng:attribute name="id" seda:profid="id781859">
												<rng:data type="ID"/>
											</rng:attribute>
											<rng:choice>
												<rng:group>
													<rng:optional>
														<rng:element name="Management">
															<rng:element name="AppraisalRule">
																<rng:group>
																	<rng:element name="Rule">
																		<rng:optional>
																			<rng:attribute name="id">
																				<rng:data type="ID"/>
																			</rng:attribute>
																		</rng:optional>
																		<rng:value type="token">F5-1</rng:value>
																	</rng:element>
																	<rng:element name="StartDate">
																		<rng:data type="date"/>
																	</rng:element>
																</rng:group>
																<rng:element name="FinalAction">
																	<rng:value type="token">Keep</rng:value>
																</rng:element>
															</rng:element>
														</rng:element>
													</rng:optional>
													<rng:element name="Content">
														<rng:element name="DescriptionLevel">
															<rng:value type="token">Item</rng:value>
														</rng:element>
														<rng:element name="Title">
															<rng:data type="string"/>
														</rng:element>
														<rng:element name="OriginatingAgencyArchiveUnitIdentifier">
															<rng:data type="string"/>
														</rng:element>
														<rng:element name="Description">
															<rng:data type="token"/>
														</rng:element>
														<rng:element name="DocumentType">
															<rng:choice>
																<rng:value type="token">Attestation de versement</rng:value>
																<rng:value type="token">Bordereau de sortie</rng:value>
															</rng:choice>
														</rng:element>
														<rng:element name="Status">
															<rng:data type="string"/>
														</rng:element>
														<rng:element name="Keyword">
															<rng:element name="KeywordContent">
																<rng:data type="string"/>
															</rng:element>
															<rng:element name="KeywordReference">
																<rng:value type="string">DownloadFilename</rng:value>
															</rng:element>
														</rng:element>
														<rng:element name="Keyword">
															<rng:element name="KeywordContent">
																<rng:value type="string">SERIAL_DOCUMENT</rng:value>
															</rng:element>
															<rng:element name="KeywordReference">
																<rng:value type="string">ArchiveType</rng:value>
															</rng:element>
														</rng:element>
														<rng:element name="Keyword">
															<rng:element name="KeywordContent">
																<rng:value type="string">PRESERVE</rng:value>
															</rng:element>
															<rng:element name="KeywordReference">
																<rng:value type="string">FinalActionDetail</rng:value>
															</rng:element>
														</rng:element>
														<rng:element name="Keyword">
															<rng:element name="KeywordContent">
																<rng:data type="string"/>
															</rng:element>
															<rng:element name="KeywordReference">
																<rng:value type="string">Client</rng:value>
															</rng:element>
														</rng:element>
														<rng:element name="Keyword">
															<rng:element name="KeywordContent">
																<rng:data type="string"/>
															</rng:element>
															<rng:element name="KeywordReference">
																<rng:value type="string">Tenant</rng:value>
															</rng:element>
														</rng:element>
														<rng:element name="Keyword">
															<rng:element name="KeywordContent">
																<rng:data type="string"/>
															</rng:element>
															<rng:element name="KeywordReference">
																<rng:value type="string">Date de génération</rng:value>
															</rng:element>
														</rng:element>
														<rng:element name="OriginatingAgency">
															<rng:element name="Identifier">
																<rng:text/>
															</rng:element>
														</rng:element>
														<rng:element name="SubmissionAgency">
															<rng:element name="Identifier">
																<rng:text/>
															</rng:element>
														</rng:element>
														<rng:element name="CreatedDate">
															<rng:choice>
																<rng:data type="date"/>
																<rng:data type="dateTime"/>
															</rng:choice>
														</rng:element>
														<rng:element name="ReceivedDate">
															<rng:choice>
																<rng:data type="date"/>
																<rng:data type="dateTime"/>
															</rng:choice>
														</rng:element>
														<rng:element name="StartDate">
															<rng:choice>
																<rng:data type="date"/>
																<rng:data type="dateTime"/>
															</rng:choice>
														</rng:element>
														<rng:element name="EndDate">
															<rng:choice>
																<rng:data type="date"/>
																<rng:data type="dateTime"/>
															</rng:choice>
														</rng:element>
													</rng:element>
													<rng:element name="DataObjectReference">
														<rng:optional>
															<rng:attribute name="id">
																<rng:data type="ID"/>
															</rng:attribute>
														</rng:optional>
														<rng:element name="DataObjectReferenceId" a:defaultValue="id783603">
															<rng:data type="NCName"/>
														</rng:element>
													</rng:element>
												</rng:group>
											</rng:choice>
										</rng:element>
									</rng:zeroOrMore>
								</rng:group>
							</rng:choice>
						</rng:element>
					</rng:zeroOrMore>
				</rng:element>
				<rng:element name="ManagementMetadata">
					<rng:optional>
						<rng:attribute name="id">
							<rng:data type="ID"/>
						</rng:attribute>
					</rng:optional>
					<rng:element name="ArchivalProfile">
							<rng:value type="string">PR-000001</rng:value>
						</rng:element>
						<rng:element name="OriginatingAgencyIdentifier">
							<rng:value type="string">IdProdVitamUI</rng:value>
						</rng:element>
						<rng:element name="SubmissionAgencyIdentifier">
							<rng:value type="string">IdProdVitamUI</rng:value>
						</rng:element>
				</rng:element>
			</rng:element>
			<rng:element name="ArchivalAgency">
				<rng:element name="Identifier">
					<rng:value type="string">IdArcVitamUI</rng:value>
				</rng:element>
			</rng:element>
			<rng:element name="TransferringAgency">
				<rng:element name="Identifier">
					<rng:value type="string">IdProdVitamUI</rng:value>
				</rng:element>
			</rng:element>
		</rng:element>
	</rng:start>
	<rng:define name="OpenType">
		<rng:zeroOrMore>
			<rng:element>
				<rng:anyName/>
				<rng:zeroOrMore>
					<rng:attribute>
						<rng:anyName/>
					</rng:attribute>
				</rng:zeroOrMore>
			</rng:element>
		</rng:zeroOrMore>
	</rng:define>
</rng:grammar>
